* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #878787;
    background-color: #eeeeee;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    font-weight: bold;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 18px;
}


@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/font-awesome-4.4.0/fontawesome-webfont.eot?v=4.4.0');
    src: url('../fonts/font-awesome-4.4.0/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'),
    url('../fonts/font-awesome-4.4.0/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),
    url('../fonts/font-awesome-4.4.0/fontawesome-webfont.woff?v=4.4.0') format('woff'),
    url('../fonts/font-awesome-4.4.0/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),
    url('../fonts/font-awesome-4.4.0/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 7px;
}
.fa-graduation-cap:before {
    content: "\f19d";
}
.fa-book:before {
    content: "\f02d";
}
.fa-wrench:before {
    content: "\f0ad";
}
.fa-university:before {
    content: "\f19c";
}
.fa-cogs:before {
    content: "\f085";
}


/*layout*/
.container {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 820px;
}
.row {
    width: 100%
}

.clearfix:after, .row:after {
    content: "";
    display: block;
    clear: both;
}

.line {
    height: 1px;
    background: linear-gradient(to right, rgba(32,124,229,1) 0%, rgba(73,155,234,0.51) 34%, rgba(73,155,234,0) 70%);
}


/* header */
header {
    margin-top: 20px;
}
header h1 {
    text-align: center;
    margin-bottom: 10px;
}
header .container {
    background-color: #44aee3;
    color: white;
    padding-bottom: 10px;
}
.info {
    float: left;
    width: 79%;
}
header img {
    float:left;
    border: 3px solid white;
    width: 100px;
    margin: 20px 20px;
}

header .col-2 {
    width: 23%;
    float: left;
    padding: 4px;

}
header .col-2 p {
    text-align: right;
    font-weight: bold;
    border-right: 2px solid white;
    padding-right: 5px;
}
header .col-10 {
    margin-left: 25%;
    padding: 4px;
}


/* main */
section .row {
    background: linear-gradient(to right, rgb(198, 224, 255), rgb(240, 247, 255) 18.3%, rgb(255, 255, 255) 17%, rgb(255, 255, 255));
}
section .col-2 {
    width: 17%;
    float: left;
    text-align: right;
    font-size: 12px;
    padding: 2px 0 5px 0;
}
section .col-10 {
    margin-left: 18.3%;
    padding: 1px;
}
section .col-10 h2{
    color: #337ab7;
    margin-top: 40px;
}
section .col-10 ul{
    margin-left: 20px;
    padding-right: 60px;
}
.last-empty {
    height: 80px;
}
footer {
    height: 40px;
}


.card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

@media only screen and (max-width: 720px) {
    .card {
        box-shadow: none;
    }
    section .col-10 ul{
        margin-left: 20px;
        padding-right: 5px;
    }
    footer {
        display: none;
    }
    header {
        margin-top: 0;
    }

    header img {
        display: block;
        float: none;
        border: 3px solid white;
        width: 100px;
        margin: 5px auto;
    }
    .info {
        float: none;
        width: 100%;
        padding: 1px;
    }
}

@media print {
    header {
        margin-top: 0;
    }
    footer {
        display: none;
    }
    section .col-10 h2{
        color: #337ab7;
        margin-top: 25px;
    }
    .last-empty {
        height: 40px;
    }
    header .container {
        background-color: #eee;
        color: black;
        padding-bottom: 10px;
    }
    header h1 {
    color: #2a72a6
    }
}